# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=your_secret_key_here

# Database Configuration
DATABASE_URL=sqlite:///database.db
DATABASE_TRACK_MODIFICATIONS=False

# GitHub Oauth 
GITHUB_CLIENT_ID=<YOUR_GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<YOU_GITHUB_SECRET_ID>

# Other configurations
DEBUG=True
