<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/e.css">
</head>
<body>
    <header>
        <h3>Ingreso</h3>
    </header>
    <main>
        <section>
            <article>
                <fieldset>
                    <legend id="inicio">
                        Iniciar sesion
                    </legend>
                    <legend>Usuario:</legend>
                    <form action="/login" method="POST">
                        <input type="text" id="username" name="username" value="" placeholder="">
                    </br>
                    </br>
                    <legend>Contraseña:</legend>
                        <input type="password" name="password" id="password" placeholder="" value="">
                    </br>
                    </br>
                        <button type="submit">Ingresar</button>
                    </form>
                </fieldset>
            </article>
    </main>
    <footer>
    </footer>
</body>
</html>